.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100vh;
    z-index: 0
  }
  
.qualtrix-container {
    text-align: center;
    background-color: white;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    padding: 5px; 
    position: relative; 
    width: 90%;
}

.title {
    font-size: 2em;
    color: #333;
    margin-bottom: 5px;
    margin-top: 5px;
}
      
.description {
    font-size: large;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px; 
    margin-bottom: 30px;
}
      
.qualtrix-grid {
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr); 
    gap: 10px;
    position: relative;
}

@media (max-width: 2500px) {
    .qualtrix-grid {
        gap: 5px;
        max-height: 70%;
    }
    .mews-grid {
        gap: 5px;
        max-height: 70%;
    }
}
      
.qualtrix-grid::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ddd;
    left: calc(24.5%);
    top: 0;
}
      
.qualtrix-grid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 48px; 
    left: 0;
}
      
.qualtrix-grid-header {
    display: contents;
}
      
.option-header {
    text-align: center;
    font-weight: bold;
    color: #333;
    position: relative;
    margin-bottom: 20px;
    font-size: large;
}
      
.qualtrix-row {
    display: contents;
}
      
.statement {
    text-align: left;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    min-height: 80px; 
    display: flex; 
    align-items: center; 
    padding: 5px;
}
    
input[type="radio"] {
    display: none;
}

.circle {
    height: 23px;
    width: 23px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 0.5em;
    display: inline-block;
    transition: background-color 0.3s;
}

input[type="radio"]:checked + .circle {
    background-color: #61dafb;
    border-color: #61dafb;
}

.submit-button {
    display: inline-block; /* Ensures proper hitbox */
    padding: 0.5em 1.5em;
    margin-top: 1em;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 #b3cad1;
    position: relative;
    z-index: 10;
    font-weight: bold;
}

/* Fix overlapping issues */
.submit-button::before {
    content: "";
    position: absolute;
    top: -5px; /* Expands hitbox */
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: transparent;
}


.submit-button:active {
    transform: translate(0.3em, 0.3em); 
    box-shadow: 0em 0em 0 0; 
}

.submit-button:hover {
    background-color: #1ccdfe; /* Darker shade on hover */
  }

  .social-submit-button {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5em 1.5em;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 #b3cad1;
}

.social-submit-button:active {
    transform: translate(0.3em, 0.3em); 
    box-shadow: 0em 0em 0 0; 
}

.social-submit-button:hover {
    background-color: #1ccdfe; /* Darker shade on hover */
  }

  .social-title{
    font-size: 1.5em;
    color: #333;
    margin-top: 0px;
    margin-bottom: 20px;
  }
.circle-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
    
.error-message {
    color: red;
    margin-top: 1em;
    font-size: 1em;
}

.mews-grid {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr); /* Adjust as needed */
    gap: 5px;
    position: relative;
}


.mood-grid {
    display: grid;
    grid-template-columns: 0fr repeat(5, 1fr); /* Adjust as needed */
    gap: 10px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
} 

.videoengagement-grid {
    display: grid;
    grid-template-columns: 1fr repeat(7, 1fr); /* Adjust as needed */
    gap: 10px;
    position: relative;
}

.social-grid {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr); /* Adjust as needed */
    gap: 5px;
    position: relative;
}

.social-statement {
    text-align: left;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    min-height: 60px; 
    display: flex; 
    align-items: center; 
    padding: 20px;
}
    

.text-input{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    margin-left: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black; /* Optional: Add a bottom border for the line effect */
    text-align: center; /* Center the text inside the input */
  }

  @media (max-height: 900px) {
    .title {
        font-size: 1.5em; /* Reduce font size for smaller screens */
    }

    .social-title {
        font-size: 1.3em; /* Reduce font size for smaller screens */
    }

    .social-grid {
        transform: scale(0.9);
    }

    
    .social-submit-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-height: 940px) {
    .social-grid {
        transform: scale(0.9);
    }
}

@media (max-height: 800px) {

    .mews-grid {
        transform: scale(0.85);
        margin-bottom: 20px;
    }

}