.study-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  justify-content: space-between; /* Distribute sections evenly */
  align-items: center; /* Vertically center everything */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent any scrolling */
  text-align: center;
}

.button-container {
  flex: 1; /* Each button section gets equal width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  flex: 2; /* Video section gets double the space */
  display: flex;
  flex-direction: column; /* Stack videos vertically */
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 100%; /* Take full width of container */
  max-width: 800px; /* Prevent video from becoming too wide */
  height: auto;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-height: 882px) {
  .video-container video {
    max-width: 750px;
  }
}

@media (max-height: 830px) {
  .video-container video {
    max-width: 720px;
  }
}


@media (max-height: 812px) {
  .video-container video {
    max-width: 700px;
  }
}