Tutorial.css
.tutorial-container {
    background-color: var(--background-one);
  }

  .demographic-container {
    background-color: white;
    border-radius: 3em;
    box-shadow: 10px 10px 0 0 var(--accent-one);
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center align content horizontally */
    justify-content: center;  /* Center align content vertically */
    position: relative; /* Position context for the shadow */
    width: 60%;
  }
  
  .brief-subtitle {
    margin: 20px;
    margin-bottom: 1em;
    font-size: 30px;
  }

  .question {
    text-align: left;
  }
  
  .demographic-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .demographic-option {
      display: flex; /* Use flexbox to align items */
      align-items: center; /* Center align items vertically */
  }

  .demographic-option p {
    margin: 0;
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
    text-align: left;
  }
  
  input[type="radio"] {
    display: none;
}

  .demographic-circle {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 0px;
    display: inline-block;
    transition: background-color 0.3s;
  }

  input[type="radio"]:checked + .demographic-circle {
    background-color: #61dafb;
    border-color: #61dafb;
  }

  .gender-input{
    font-family: var(--universal-font);
    font-size: large;
    margin-left: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black; 
  }
  
  .age-input{
    font-size: large;
    margin-left: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: center; /* Center the text inside the input */
  }

  .ans-input {
    font-size: large;
    outline: none;
    height: 200px; /* Adjust height as needed */
    width: 90%;
    resize: vertical; /* Allow vertical resizing */
  }

  .demographic-option input[type="checkbox"] {
    transform: scale(1.7); 
  }
  
  .demographic-option input[type="checkbox"]:checked {
    accent-color: #61dafb; 
}

.stop-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.submit-button1 {
  display: inline-block; /* Ensures proper hitbox */
  padding: 0.5em 1.5em;
  margin-top: 1em;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 #b3cad1;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

.submit-button1::before {
  content: "";
  position: absolute;
  top: -5px; /* Expands hitbox */
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: transparent;
}

.submit-button1:hover {
  background-color: #1ccdfe; /* Darker shade on hover */
}